@model BnGClub.Models.Activities

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Activitys</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="actName" class="control-label"></label>
                <input asp-for="actName" class="form-control" />
                <span asp-validation-for="actName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="actDescription" class="control-label"></label>
                <input asp-for="actDescription" class="form-control" />
                <span asp-validation-for="actDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="actCode" class="control-label"></label>
                <input asp-for="actCode" class="form-control" />
                <span asp-validation-for="actCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="actRequirement" class="control-label"></label>
                <input asp-for="actRequirement" class="form-control" />
                <span asp-validation-for="actRequirement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="actAvailablePlace" class="control-label"></label>
                <input asp-for="actAvailablePlace" class="form-control" />
                <span asp-validation-for="actAvailablePlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaderID" class="control-label"></label>
                <select asp-for="LeaderID" class="form-control" asp-items="ViewBag.LeaderID"></select>
                <span asp-validation-for="LeaderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActTypeID" class="control-label"></label>
                <select asp-for="ActTypeID" class="form-control" asp-items="ViewBag.ActTypeID"></select>
                <span asp-validation-for="ActTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
