@model BnGClub.Models.Users
@{
    ViewData["Title"] = "Edit Profile";
}
<h2>Edit Profile</h2>
<h4>Edit Profile for @User.Identity.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />

            <input type="hidden" name="eMail" value="@User.Identity.Name" />
            <div class="form-group">
                <label asp-for="userFName" class="control-label"></label>
                <input asp-for="userFName" class="form-control" />
                <span asp-validation-for="userFName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userMName" class="control-label"></label>
                <input asp-for="userMName" class="form-control" />
                <span asp-validation-for="userMName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userLName" class="control-label"></label>
                <input asp-for="userLName" class="form-control" />
                <span asp-validation-for="userLName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userPhone" class="control-label"></label>
                <input asp-for="userPhone" class="form-control" />
                <span asp-validation-for="userPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="notificationOptIn" class="control-label"></label><br />
                <input asp-for="notificationOptIn" name="notifications" onchange="subscribe()" style="width:20px;height:20px;" />
                <span asp-validation-for="notificationOptIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" onclick="subscribe()" />
            </div>
            <div hidden="hidden">
                <input type="text" id="PushEndpoint" name="PushEndpoint" value="" />
                <input type="text" id="PushP256DH" name="PushP256DH" value="" />
                <input type="text" id="PushAuth" name="PushAuth" value="" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Details">Back to Profile</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        //Vapid public key.
        var applicationServerPublicKey = '@ViewBag.PublicKey';
    </script>
    <script src="~/js/CreateSubscription.js"></script>
}
