@model BnGClub.Models.Child

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Child</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="childFName" class="control-label"></label>
                <input asp-for="childFName" class="form-control" />
                <span asp-validation-for="childFName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="childMName" class="control-label"></label>
                <input asp-for="childMName" class="form-control" />
                <span asp-validation-for="childMName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="childLName" class="control-label"></label>
                <input asp-for="childLName" class="form-control" />
                <span asp-validation-for="childLName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="childDOB" class="control-label"></label>
                <input asp-for="childDOB" class="form-control" />
                <span asp-validation-for="childDOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID">
                    <option selected="selected" disabled="disabled">Select a Parent...</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

