@model BnGClub.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="userFName" class="control-label"></label>
                <input asp-for="userFName" class="form-control" />
                <span asp-validation-for="userFName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userMName" class="control-label"></label>
                <input asp-for="userMName" class="form-control" />
                <span asp-validation-for="userMName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userLName" class="control-label"></label>
                <input asp-for="userLName" class="form-control" />
                <span asp-validation-for="userLName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userEmail" class="control-label"></label>
                <input asp-for="userEmail" class="form-control" />
                <span asp-validation-for="userEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userPhone" class="control-label"></label>
                <input asp-for="userPhone" class="form-control" />
                <span asp-validation-for="userPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

