@model BnGClub.Models.ActType

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ActType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="acttypeName" class="control-label"></label>
                <input asp-for="acttypeName" class="form-control" />
                <span asp-validation-for="acttypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="acttypeDescription" class="control-label"></label>
                <input asp-for="acttypeDescription" class="form-control" />
                <span asp-validation-for="acttypeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
